.testClass[mode='unselected'] {
    --boxBackground: #fff;
    --titleColor: #222;
    --lastMsgColor: grey;
    --lastMsgDayColor: #b3b3b3;
    --hoverColor: #f2f6fa;
}

.testClass[mode='selected'] {
    --boxBackground: #6490b1;
    --titleColor: #fff;
    --lastMsgColor: #fff;
    --lastMsgDayColor: #fff;
    --hoverColor: var(--boxBackground);
}


.box {
    background: var(--boxBackground);
    padding: 10px 15px 10px 18px;
}


.box:hover {
    background: var(--hoverColor);
}

.title {
    color: var(--titleColor);
    font-weight: 700;
}

.lastMsg {
    color: var(--lastMsgColor);
}

.lastMsgDay {
    color: var(--lastMsgDayColor);
}



